
/********* GLOBAL STYLING *********/

* {
	font-family: arial;
	margin: 0;
	padding: 0;
}

/********* BODY STYLES *********/

body {
	background-image: url('../images/textile_photo.jpeg');
	background-size: 100% auto;
  background-repeat: no-repeat;
	margin: 2em 0 5em 0;
}

.container {
	max-width: 27em;
	margin: 0 auto;
}

.text {
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
}

/********* HEADER STYLES *********/

.title {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 3.5em;
	color: #000;
	font-weight: 700;
	text-align: center;
	margin-bottom: 0.5em;
}

.tagline {
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	margin-bottom: 2em;
}



/********* QUIZ Q & A SECTION STYLING *********/

#quiz_items {
	background: #302013;
	padding: 1.5em 0;
}

#question {
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0.5em;
}

#choices {
	font-size: 1.5em;
	font-weight: 300;
	list-style: none;
	line-height: 30px;
	margin-left: 3.5em;
	margin-bottom: 2em;
}

input[type="radio"] {
	vertical-align: baseline;
	margin-right: 15px;
	padding: 5px;
}

/********* SUBMIT BUTTON AND SCORE-KEEPER *********/

button {
	color: #fff;
	background: #000;
	position: relative;
	left: 12.5em;
	border-radius: 5px;
	padding: 1em 4em;
	margin: 0 auto 2em auto;
}

#score {
	text-align: center;
}

button:hover {
	color: #000;
	background: #e5b541;
}

/********* FOOTER PAGE STYLING *********/

footer {
	text-align: center;
	padding-bottom: 0;
	margin: 8em auto 0 auto;
}

.copy {
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 15px;
  max-width: 20em;
  margin: 0 auto;
}

/********* QUIZ RESULT TEXT CONTENT *********/

h2 {
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
}











